.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button{
 background-color: #2185d0!important;
}

.ui.button{
  color: rgba(255,255,255,.9)
}

#localFilterBottom{
  margin: 1em auto 0.5em;
}

#localFilterDiv {
  position: relative;
  left: 1em;
}

