@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-segment {
  margin: 2rem;
}

#topBar {
  padding: 10px 0 0 15px;
}

#segmentGroupContainingPushable {
  margin:0;
  height: 100%;
}

#root {
  display: block;
  float: none;
  width: auto;
  height: 100%
}

#mockDashboardRoot {
  height: 100%
}

html, body, #app, #app>div {
  height: 100%
}

.ui.visible[class*="very thin"].left.sidebar~.fixed, .ui.visible[class*="very thin"].left.sidebar~.pusher {
  -webkit-transform: translate3d(60px,0,0);
  transform: translate3d(37px,0,0);
}

.ui.left.visible.sidebar, .ui.right.visible.sidebar {
  box-shadow: none;
}

.pusher .segment.dashboardSegment{
  padding: 0;
  margin: 1em auto 0 1em;
}
