.ui.sidebar.thin ~ .pusher {
   width: calc(100% - 150px);
 }

.ui.sidebar.very.thin ~ .pusher {
  width: calc(100% - 50px);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-segment {
  margin: 2rem;
}

#ReportsFilterVisibilityIcon {
  padding: 5px 0 0 10px;
}

#topBar {
  padding: 10px 0 0 15px;
}

#overwritten {
  margin-top: 10px;
  margin-bottom: 0;
  height: 100%;
}

#root {
  display: block;
  float: none;
  width: auto;
  height: 100%
}

#mockDashboardRoot {
  height: 100%
}

html, body, #app, #app>div {
  height: 100%
}
