.ui.vertical.labeled.icon.ui.push.left.thin.visible.sidebar.flex-container.menu  {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.bottom-aligned {
  margin: auto 0 0;
}

.ui.mini.image{
  width: 39px;
  height: 39px;
  margin: auto;
  /*float: left;*/
}


/*color: "#9A5CA7"*/
